# ==========================================================
# Django
# ==========================================================

DJANGO_SETTINGS_MODULE=config.settings

SECRET_KEY=CHANGE_ME

DEBUG=False

ALLOWED_HOSTS=example.com,www.example.com

# ==========================================================
# Database
# ==========================================================

POSTGRES_DB=onlineshop

POSTGRES_USER=postgres

POSTGRES_PASSWORD=CHANGE_ME

POSTGRES_HOST=postgres

POSTGRES_PORT=5432

# ==========================================================
# Redis
# ==========================================================

REDIS_HOST=redis

REDIS_PORT=6379

REDIS_DB=0

# ==========================================================
# Celery
# ==========================================================

CELERY_BROKER_URL=redis://redis:6379/0

CELERY_RESULT_BACKEND=redis://redis:6379/0

HEALTH_CHECK_CELERY=False

# ==========================================================
# Gunicorn
# ==========================================================

GUNICORN_BIND=0.0.0.0:8000

GUNICORN_WORKERS=2

GUNICORN_WORKER_CLASS=gthread

GUNICORN_THREADS=2

GUNICORN_TIMEOUT=60

GUNICORN_GRACEFUL_TIMEOUT=30

GUNICORN_KEEPALIVE=5

GUNICORN_LOG_LEVEL=info

GUNICORN_MAX_REQUESTS=1000

GUNICORN_MAX_REQUESTS_JITTER=100

GUNICORN_PROC_NAME=onlineshop

GUNICORN_FORWARDED_ALLOW_IPS=*