# ------------------------------
# Git
# ------------------------------
.git
.gitignore

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ------------------------------
# Virtual Environment
# ------------------------------
.venv/
venv/
env/

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Python tools
# ------------------------------
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ------------------------------
# Logs
# ------------------------------
logs/
*.log

# ------------------------------
# Static & Media
# ------------------------------
static_root/
media_root/

# ------------------------------
# Local Database
# ------------------------------
*.sqlite3

# ------------------------------
# Environment files
# ------------------------------
.env
.env.*

# اما فایل نمونه باید داخل ایمیج قابل کپی باشد
!.env.example

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Node
# ------------------------------
node_modules/

# ------------------------------
# Docker
# ------------------------------
docker-compose.override.yml